.search-item {
  width: 30%;
  height: 140px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  display: flex; }

.infos {
  width: 100%;
  background-color: #f1f1f1; }

.card-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 100%; }

.business-name {
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #aae7ea; }

.search-item img {
  max-width: 100%;
  max-height: 100%; }

.details {
  padding: 5px 5px; }
